body {
    background-color: #191919;
    color: #fff;
}
.header-menu__list {
    list-style: none;
    display: flex;
    gap: 40px;
    padding-right: 20px;

}
.header {
    font-size: 17px;
    margin: 26px 50px;
    display: flex;
    justify-content: space-between;
    height: 67px;
    align-items: center;
    line-height: 27px;
}

.item-blue {
    color: #118DA8;
}
.item-bigger {
    font-size: 18px;
}
.menu-link {
    text-decoration: none;
}
.podcast-text {
    line-height: 88px;
    font-size: 70px;
    font-weight: 400;
    letter-spacing: 3.2px;
    max-width: 526px;
    position: relative;
    margin-bottom: 85px;
    margin-top: 41%;
    margin-right: 26px;
}
.podcast {
    display: flex;
    gap: 60px;
}
.line-img{
    position: absolute;
    bottom: 0px;
    left: -5px;
}
.text-bigger{
    font-size: 75px;
}
.music-platforms__list{
    list-style: none;
    display: flex;
    gap: 17px;
}
.music-platforms__text{
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
}
.episodes-title{
    font-weight: 400;
    font-size: 64px;
    line-height: 80px;
    letter-spacing: 2.88px;
}
.episodes-link{
    text-decoration: none;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    padding:12px 15px 12px 20px;
    background-color: #118DA8;
    border-radius: 6px;
    display: inline-block;
    height: 51px;
    width: 160px;
}
.episodes{
    margin-top: 95px;
}
.episodes-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    max-height: 99px;
    align-items: baseline;

}
.episodes-item__title{
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    padding: 0 16px;
    background-color: #191919;
    display: inline-block;
    margin-top: 8px;
    margin-bottom: 48px;
    width: fit-content;

}
.episodes-item__link{
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    text-decoration: none;
}
.episodes-item__card{
    display: flex;
    gap: 40px;
    padding: 40px;
    background-color: #000;
    border-radius: 32px;
}
.episodes-item__description{
    display: flex;
    flex-direction: column;
}
.episodes-item__text-bigger{
    font-weight: 400;
    font-size: 64px;
    line-height: 70px;
    margin-bottom: 28px;
    max-width: 677px;
}
.episodes-item__text-smaller{
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 18px;
    opacity: .70;
    max-width: 741px;
}
.episodes-item__link{
    margin-bottom: 18px;
}
.episodes-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap:60px;
}
.episodes-link__card{
    text-decoration: none;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    padding:12px 15px 12px 20px;
    background-color: #118DA8;
    border-radius: 6px;
    display: inline-block;
    height: 51px;
    width: 189px;
}
.title__bigger{
    width: 136px;
}
.item-text__smaller{
    max-width: 575px;
}
.episodes{
    margin-bottom: 160px;
}
.about-person__button{
    background-color: #118DA8;
    padding: 34px 24px 40px 17px;
    border-radius: 100%;
    display: inline-block;
    max-width: 112px;
    margin-top: 148px;
}
.about-person{
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
}
.about-person__link{
    text-decoration: none;
    color: #118DA8;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    margin-top: 20px;
    
}
.about-person__description{
    display: flex;
    flex-direction: column;
}
.about-person__title{
    font-weight: 400;
    font-size: 65px;
    line-height: 80px;
    letter-spacing: 2.88px;
    margin-bottom: 28px;
}
.about-person__text{
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    max-width: 556px;
    opacity: .7;
}
.about-person__text:not(:first-child){
    margin-top: 33px;
}
.subscribe__description-text{
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color:#118DA8;
}
.subscribe__description-text-bigger{
    font-weight: 400;
    font-size: 72px;
    line-height: 79.2px;
    letter-spacing: 2.88px;
    max-width: 431px;
}
.subscribe{
    background-color: #000;
    margin-top: 202px;
    border-radius: 32px;
    display: flex;
    justify-content: space-between;
    padding: 60px 60px 75px 60px;
    position: relative;
    margin-bottom: 200px;
}
.subscribe__form-input{
    background-color: #191919;
    color:#fff;
    border: 1px solid #191919;
    border-radius: 6px;
    padding: 26px 0 27px 19px;
    width: 522px;
    font-size: 24px;
    line-height: 29px;
}
.subscribe__form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.subscribe__form-button{
    width: fit-content;
    padding: 9px 15px 10px 19px;
    background-color: #118DA8;
    color:#fff;
    border-radius: 6px;
    border: none;
}
.subscribe__image{
    position: absolute;
    top: 322px;
    left: -38px;
}
.star__list{
    list-style: none;
    display: flex;
    gap: 5px;
    margin-bottom: 21px;
}
.revies__list{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    grid-auto-columns: auto;
}
.revies__text{
    font-weight: 400;
    font-size: 36px;
    line-height: 43.2px;
    margin-bottom: 19px;
}
.revies__author{
    opacity: .7;
    font-weight: 400;
    font-size: 24px;
    line-height: 28.8px;
}
.revies__card{
    background-color: #000;
    border-radius: 32px;
    padding: 50px;
    height: 100%;
}
.revies{
    margin-bottom: 200px;
}
.social-media__list{
    list-style: none;
    display: flex;
    gap: 10px;
}
.footer__logo{
    margin-bottom: 20px;
}
.footer__menu-list-item{
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    list-style: none;
    
}
.footer__menu-link{
    text-decoration: none;
}
.footer__menu-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.additional__menu-list{
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.additional__menu-link{
    text-decoration: none;
}
.footer{
    display: grid;
    grid-template-columns: 447fr 178fr 178fr 447fr;
    gap: 16px;
    margin-bottom: 116px;
}
.menu-link:hover,
.footer__menu-link:hover,
.additional__menu-link:hover{
    color:#118DA8;
    transition: 0.5s;
}
@media (max-width: 720px) {
    .header-menu__list {
        flex-direction: column;
        gap:1px;
        padding: 0;
        align-items: flex-end;
    }
    .header {
        margin: 35px 25px;
    }
}
@media (max-width: 1080px) {
    .podcast-photo {
        width: 80%;
        height: 70%;
        margin-right: 5px;
        align-self: center;
    }
    .podcast-text {
        margin-top: 0% ;
        max-width: 720px;
        margin-right: 10%;
        margin-left: 10%;
        max-width: 800px;
        text-align: center;
        margin-bottom: 30px;
    }
    .podcast {
        flex-direction: column;
        align-items: center;
    }
    .about-person{
        flex-direction: column-reverse;
        width: 80%;
        margin: auto;
    }
    .subscribe__description-text-bigger{
        font-size: 48px;
        line-height: 48px;
    }
    .subscribe__form-input{
        width: 110%;
    }
    .line-img{
        left: 254px;
    }
    .music-platforms{
        margin: 0 auto;
    }
    .music-platforms__text{
        text-align: center;
        font-size: 35px;
        line-height: 35px;
    }
    .music-platforms__list{
        justify-content: center;
    }
}
@media (max-width: 860px) {
    .episodes-item__card {
        flex-direction: column;
    }
    .episodes{
        margin-bottom: 100px;
    }
    .about-person__title{
       font-size: 48px; 
       line-height: 48px;
    }
    .about-person__button{
        margin-top: 60px;
    }
    .about-person__title{
        margin-bottom: 0;
    }
    .revies__list{
        grid-template-columns: 1fr 1fr;
    }

}
@media (max-width: 635px) {
    .episodes-title {
        max-width: 295px;
    }
    .episodes-header {
        max-height: 160px;
    }
    .episodes{
        margin-bottom: 50px;
    }
    .subscribe{
        flex-direction: column;
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .subscribe__form-input{
        width: 100%;
    }
    .subscribe__description-text-bigger{
        margin-bottom: 35px;
    }
    .subscribe__image{
        left: -17px;
        top: 477px;
    }
    .revies__list{
        grid-template-columns: 1fr;
    } 
    .visually-hidden {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }
    .footer{
        display: flex;
        justify-content: center;
    }
    .revies{
        margin-bottom: 100px;
    }
    .line-img{
        left: 80px;
    }
}
@media (max-width: 480px){
    .episodes-title {
        font-size: 48px;
        line-height: 48px;
    }
    .episodes-link {
        font-size: 13px;
        padding: 6px 7px 6px 5px;
        line-height: 13px;
    }
    .episodes-item__text-bigger{
        line-height: 48px;
        font-size: 48px;
    }
    .episodes{
        margin-bottom: 30px;
    }
    .image-arrow{
        width: 47px;
    }
    .podcast-text{
        font-size: 48px;
        line-height: 48px;
    }
    .text-bigger{
        font-size: 60px;
    }
    .line-img{
        width: 130px;
        left: 61px;
        top: 146px;
    }
    .podcast{
        gap: 30px;
    }
    .episodes-link{
        padding: 17px 0px 6px 5px;
        text-align: center;
    }
    .episodes-header{
        margin: 0 48px;
    }
}
@media (max-width: 388px){
    .subscribe__image{
        left: -17px;
        top: 516px;
    }
    .line-img{
        left: 135px;
    }
    .additional__menu-list{
        align-items: flex-end;
    }
    .additional__menu-list-item{
        text-align: end;
    }
    .episodes-link{
        padding: 10px 7px 6px 5px;
        text-align: center;
    }
}
@media (max-width: 320px){
    .line-img{
        top: 192px;
        left: 60px;
    }
}